.loginpage-wrapper {
  display: flex;
  align-items: center;
}

.loginpage-campaign-wrapper {
  background-color: #131722;
  height: 100vh;
  max-width: 500px;
  width: 90%;
}

.loginpage-campaign-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginpage-register-wrapper {
  background-color: #fff;
  height: 100vh;
  width: 100%;
}

.loginpage-campaign-text-container {
  margin-top: 8rem;
}

.loginpage-campaign-text {
  max-width: 430px;
  font-size: 28px;
}

.loginpage-campaign-bottom-information {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 7rem;
}

.loginpage-campaign-home-navigation {
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

/* ?loginpage-right start */

.loginpage-register-wrapper {
  color: black;
}

.loginpage-register-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.loginpage-register-box {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
}

.registerlogin-text {
  /* font-size: 36px; */
  font-size: 40px;
}

.loginpage-register-form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.register-input {
  border: 1px solid #b4b6c0;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem;
  /* height: 20px; */
  /*   width: 250px; */
  height: 25px;
  width: 280px;
}

.register-input:focus {
  border: 1.7px solid #131722;
}

.loginpage-register-form-checkpassword {
  display: flex;
  align-items: center;
}

.form-checkpassword {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.loginpage-register-button button {
  background-color: #5278ff;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.7rem;
  max-width: 150px;
  width: 90%;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.loginpage-register-button button:hover {
  background-color: #5278ffc7;
}

.account-box h5 {
  cursor: pointer;
}

.loginpage-campaign-text p {
  font-size: 15px;
  margin-top: 1rem;
}

/* !MEDİA SCREEN RESPONSİVE */

@media (max-width: 642px) {
  .loginpage-campaign-wrapper {
    display: none;
  }
}
